{% extends "recipes/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4 mb-4">About Cook It</h1>
            <p class="lead">
                Greetings! <strong> Cook It</strong> is a simple yet diverse recipe app sharing platform designed for anyone interested in cooking different meals and dish! Whether you're a seasoned chef or a curious beginner, Cook It provides you detailed guidelines to help you in your culinary dream.
            </p>
            <p class="mb-4">
                At Cook It, we believe that cooking brings everyone together. Our platform allows users to discover and share plenty of recipes from different users all around the world. Experience a more expressive cooking world here at Cook It.
            </p>
            <p class="mb-4">
                Explore a variety of cuisines, learn from special cooking, and connect with fellow cooking enthusiasts. Cook It welcomes you to join the culinary world with no limits.
            </p>
        </div>
    </div>
</div>
{% endblock content %}